.navigation {
  @apply relative;

  .images {
    @apply -mt-[4.5rem] block;
  }

  .arrows {
    @apply flex items-center absolute w-full justify-between top-[5.7rem] text-white;

    .arrow {

      border-radius: 0.5rem;
      border: 1px #fff solid;
      transition: all 0.1s ease-in-out;
      background-color: rgba(54, 141, 113, 0.7);
      animation: animationOptions 1s;

      &:hover {
        background-color: rgba(0, 141, 100, 0.7);
        color: white;
        border-color: white;


      }
    }
  }
}

@keyframes animationOptions {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}