.carousel {
  @apply grid grid-cols-4 gap-7 mt-32;

}

.item {
  @apply rounded-3xl bg-light-gray p-5 pt-0 mb-8 cursor-pointer;
  transition: all 0.05s ease-in-out;




  .heading {
    @apply text-xl text-beige font-bold leading-8;
    height: 4rem;
    overflow: hidden;

  }

  .description {
    @apply mt-5 opacity-90 text-sm;
  }

  &.active {
    @apply bg-green bg-contain bg-no-repeat;
    box-shadow: 0px 8px 26px #033b11b3;
    transform: scale(1.15);
    cursor: auto;

    background-image: linear-gradient(#02371786, #008D64 50%), url('/images/cardBackground.jpg');
    background-position: center top;
    background-size: 100%;

    .images {
      @apply -mt-[5rem];
    }

    .variations {
      @apply grid grid-cols-4 gap-2.5 mt-5;

      >button {
        @apply transition-colors text-[0.6rem] font-semibold uppercase p-0.5 text-center border border-solid border-white bg-transparent text-white rounded-lg;

        &.active {
          @apply text-dark-green bg-white;
        }
      }
    }

    .heading {
      @apply text-3xl text-white leading-9;
      height: 4.4rem;
    }
  }
}